aiohttp
aioredis==1.2
aiosmtplib
asyncio
asyncpg
async_timeout
beautifulsoup4
dacite
dataclasses
discord
fastapi
flask
motor
numpy
orjson
pillow
psutil
pydantic
py-cpuinfo
sentry_sdk
starlette
ujson
uvicorn
uvloop
zmq
