aiohttp
redis>=4.2.0rc1
aiosmtplib
asyncio
asyncpg
async_timeout
beautifulsoup4
dacite
dataclasses
discord
fastapi
flask
motor
numpy
orjson
pillow
pandas
psutil
pydantic
py-cpuinfo
sentry_sdk
starlette
ujson
uvicorn
uvloop
websockets
zmq
